<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/nav-style.css"/>
    <link rel="stylesheet" href="./css/body-style.css"/>
    <link rel="stylesheet" href="./css/footer.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online library</title>
</head>
<body>
<div class="header">
    <h1>Your online library</h1>
    <hr/>
</div>

<div class="topnav" id="myTopnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/genre}">Genre</a>
    <a th:href="@{/authors}" class="active">Author</a>
    <a th:href="@{/add}">Add New Book</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<section id="banners">
    <div class="banner">
        <div>
            <img src="./images/banners/Actual_banner1.png" class="banner-img" id="banner1">
        </div>
        <div>
            <img src="./images/banners/Actual_banner2.png" class="banner-img" id="banner1">
        </div>
        <div>
            <img src="./images/banners/Actual_banner3.png" class="banner-img" id="banner1">
        </div>
    </div>
</section>
<div class="aligth-center">
    <th:block th:each="author : ${authors}">
        <div class="card text-white border-dark bg-dark mb-5" style="text-align: center">
            <div class="card-header">
                <h2 th:text="${author.getFirstName() + ' ' + author.getLastName()}"></h2>
            </div>
            <div class="card-body">
                <blockquote class="blockquote">
                    <p><b>Визраст:</b> <span th:text="${author.getAge()}"></span></p>
                    <p><b>Националност:</b> <span th:text="${author.getNationality()}"></span></p>
                    <p><b>Книги:</b> <br>
                        <th:block th:each="book : ${author.getBooks()}">
                            <span th:text="${book.getTitle()}"></span>
                            <br>
                        </th:block>
                    </p>
                </blockquote>
            </div>
            <hr class="mt-0">
            <a th:href="@{/delete/author/{id}(id = ${author.getId()})}">
                <button type="button" class="btn btn-danger mb-3">DELETE</button>
            </a>
        </div>
    </th:block>
    <br>
    <form id="add-route-form" STYLE="text-align: center"
          class="w-100 rounded card text-white border-dark bg-dark pl-5 pr-5"
          th:action="@{/authors/add}"
          th:method="post"
          th:object="${addAuthor}">

        <h2 class="border-light pl-2 mt-4 mb-4">Add a new author</h2>
        <div>
            <div class="form-group">
                <label for="inputFirstName" class="col-form-label ">First Name</label>
            </div>
            <div class="form-group">
                <input th:field="*{firstName}"
                       required minlength="2" maxlength="30"
                       type="text"
                       id="inputFirstName"
                       class="form-control"
                       aria-describedby="inputNameError">
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="inputLastName" class="col-form-label ">Last Name</label>
            </div>
            <div class="form-group">
                <input th:field="*{lastName}"
                       required minlength="2" maxlength="30"
                       type="text"
                       id="inputLastName"
                       class="form-control"
                       aria-describedby="inputNameError">
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="inputAge" class="col-form-label ">Age</label>
            </div>
            <div class="form-group">
                <input th:field="*{age}"
                       required minlength="2" maxlength="30"
                       type="number"
                       id="inputAge"
                       class="form-control"
                       aria-describedby="inputNameError">
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="inputNationality" class="col-form-label ">Nationality</label>
            </div>
            <div class="form-group">
                <input th:field="*{nationality}"
                       required minlength="2" maxlength="30"
                       type="text"
                       id="inputNationality"
                       class="form-control"
                       aria-describedby="inputNameError">
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4 mb-5">
            <button class="btn btn-primary btn-block w-50" type="submit">Save Author</button>
        </div>

    </form>
</div>


<footer class="footer-style aligth-center">
    <p> About us </p>
</footer>
</body>
</html>