<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/nav-style.css"/>
    <link rel="stylesheet" href="./css/body-style.css"/>
    <link rel="stylesheet" href="./css/footer.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online library</title>
</head>
<body>
<div class="header">
    <h1>Your online library</h1>
    <hr/>
</div>

<div class="topnav" id="myTopnav">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/genre}">Genre</a>
    <a th:href="@{/authors}">Author</a>
    <a th:href="@{/add}" class="active">Add New Book</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<section id="banners">
    <div class="banner">
        <div>
            <img src="./images/banners/Actual_banner1.png" class="banner-img" id="banner1">
        </div>
        <div>
            <img src="./images/banners/Actual_banner2.png" class="banner-img" id="banner1">
        </div>
        <div>
            <img src="./images/banners/Actual_banner3.png" class="banner-img" id="banner1">
        </div>
    </div>
</section>

<form id="add-route-form" STYLE="text-align: center" class="w-75 rounded text-black mt-5"
      th:action="@{/add}"
      th:method="post"
      th:object="${book}">

    <h2 class="border-left border-light pl-2">Add a new book</h2>
    <div>
        <div class="form-group">
            <label for="inputTitle" class="col-form-label ">Title</label>
        </div>
        <div class="form-group">
            <input th:field="*{title}"
                   required minlength="2" maxlength="30"
                   type="text"
                   id="inputTitle"
                   class="form-control"
                   aria-describedby="inputNameError">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="inputDescription" class="col-form-label ">Description</label>
        </div>
        <div class="form-group">
                    <textarea th:field="*{description}"
                              required minlength="5"
                              rows="6" cols="66"
                              id="inputDescription"
                              class="form-control"
                              aria-describedby="inputDescriptionError"></textarea>
        </div>
    </div>
    <!--        <div>-->
    <!--            <div class="form-group">-->
    <!--                <label for="inputGpx" class="col-form-label ">GPX Coordinates</label>-->
    <!--            </div>-->
    <!--            <div class="form-group">-->
    <!--                <input type="file" name="gpxCoordinates"-->
    <!--					   required-->
    <!--                       id="inputGpx"-->
    <!--                       class="form-control-file"-->
    <!--                       aria-describedby="inputGpxError">-->
    <!--                <small id="inputGpxError"-->
    <!--                       class="invalid-feedback  form-text bg-danger rounded">Must be valid GPX Coordinates</small>-->
    <!--            </div>-->
    <!--        </div>-->
    <div>
        <div class="form-group">
            <label for="level">Genre</label>
            <select th:field="*{genre}" id="level" class="custom-select">
                <!--                    <option value="BEGINNER" selected>BEGINNER</option>-->
                <option
                        th:each="genre : ${genres}"
                        th:text="${genre.name}"
                        th:value="${genre.name}"
                        th:selected="${genre.name == genre}">Model
                </option>
            </select>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label for="inputPicture" class="col-form-label ">Pictures (URL)</label>
        </div>
        <div class="form-group">
                        <textarea th:field="*{pictureURL}"
                                  required minlength="5"
                                  placeholder="Please add picture URL"
                                  id="inputPicture"
                                  class="form-control"
                                  aria-describedby="inputDescriptionError"></textarea>
        </div>
    </div>

    <!--    TODO:Authors Many to Many RELATION -->

    <div>
        <div class="form-group p-3">
            <label class="p-2" for="categories">Available Authors:</label>
            <input th:each="author : ${authors}" class="m-3" type="checkbox" th:field="*{authors}" id="categories"
                   th:value="${author.getFirstName() + ' ' + author.getLastName()}"
                   th:text="${author.getFirstName() + ' ' + author.getLastName()}">
            <br>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4 mb-5">
        <button class="btn btn-primary btn-block w-50" type="submit">Save Book</button>
    </div>

</form>

<footer class="footer-style aligth-center">
    <p> About us </p>
</footer>
</body>
</html>